@use "/src/sass/base/variables.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    &__logo {
        width: 100px;
        height: 100px;
    }
    &__icons {
        display: flex;
        gap: 15px;
        height: 20px;
    }
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 23px;
    padding-right: 35px;
    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $Dark;
    }
}